<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-block">
                    <section class="section">
                        <article class="col-xs-1">
                            <img src="{{myPerson.picture}}" class="rounded-circle">
                        </article>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h2>{{myPerson.first_name}} {{myPerson.last_name}}</h2>
                    <h6>{{myPerson.city}}</h6>
                    <h4>{{myPerson.country}}</h4>              
                </div>
            </div>
        </div>
    </div>
</div>