  <div class="container bg-info">
      <label class="text-white">Publish</label>
<div class="card" *ngFor="let post of posts">
  <div class="col-sm-6">
        <img src="{{post.person.picture}}" class="rounded-circle">
      <!-- </div>
        <div class="card-block"> -->
        <h3 class="card-title">{{post.person.first_name}}</h3>
      <h6 class="card-subtitle mb-2 text-muted">{{post.publish | date:"MM/dd/yyyy 'at' h:mma"}}</h6>
      <p class="card-text">{{post.text}}</p>
<button type="button" class="btn btn-info">Mola</button>
<button type="button" class="btn btn-warning">Pssst</button>
<button type="button" class="btn btn-danger">Pufff</button>
    </div>
  </div>
</div>
